
.productCard {

    .product-card {
        max-width: 200px;
        flex-basis: 180px;
        flex-grow: 1;
        background-color: var(--white);
    
        @media screen and (max-width: 440px) {
            max-width: 100%;
        }
    
        /* Top part of the card */
        &__images {
            cursor: pointer;
            position: relative;
    
            /* Show the 'see more' button on hover */
            &:hover,
            &:focus {
                .product-card__btn {
                    display: block;
                }
            }
        }
    
        &__img {
            &--hidden {
                width: 100%;
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                transition: 0.3s;
    
                &:hover {
                    opacity: 1;
                }
            }
        }
    
        /* Bottom part of the card */
        &__info {
            padding: 10px;
            text-align: center;
        }
    
        &__name {
            font-size: 16px;
            font-weight: normal;
            text-transform: capitalize;
        }
    
        &__price {
            color: var(--mehendi);
            font-size: 14px;
            font-weight: 600;
            margin: 10px 0;
        }
    
        &__promo {
            color: var(--brown);
            margin-left: 5px;
            text-decoration: line-through;
        }
    
        &__stars {
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            color: var(--grass);
        }
    
        &__review-count {
            color: var(--bush-green);
            font-size: 13px;
            font-weight: 300;
        }
    
        /* Like button */
        &__like {
            color: var(--skin-color);
            cursor: pointer;
            font-size: 30px;
            left: 15px;
            position: absolute;
            top: 15px;
        }
    
        /* Hide the checkbox and the filled heart by default */
        &__like-check,
        &__heart--filled {
            display: none;
        }
    
        /* Toggle hearts display w/CSS */
        &__like-check {
            &:checked + .product-card__heart {
                display: none;
                + .product-card__heart--filled {
                    display: inline;
                }
            }
        }

        /* See more button */
        .product-card__btn {
            background-color: var(--grass);
            border-radius: 5px;
            border: none;
            color: var(--skin-color);
            cursor: pointer;
            display: none;
            font-size: 14px;
            font-weight: bold;
            left: 50%;
            padding: 10px 15px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            
            
    
            &:hover {
                background-color: var(--bush-green);
            }
        }
    }
}