
  .loginPage {
    display: grid;
    place-items: center;
    background-color: var(--dried-leaf);
    height: 100vh;
    width: 100vw;

    .icon {
        block-size: 1em;
        display: inline-block;
        fill: var(--bush-green);
        inline-size: 1em;
        vertical-align: middle;
    }

    .grid {
      inline-size: 90%;
      margin-inline: auto;
      max-inline-size: 20rem;

      
      .form {
        display: grid;
        gap: var(--formGap);
      }
      
      .form input[type="password"],
      .form input[type="text"],
      .form input[type="submit"] {
        inline-size: 100%;
      }
      
      .login {
        color: var(--mehendi);
      }
      
      .login label,
      .login input[type="text"],
      .login input[type="password"],
      .login input[type="submit"] {
        border-radius: 0.25rem;
        padding: 1rem;
      }
      
      .login label {
        background-color: var(--grass);
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-inline: 1.25rem;
      }
      
      .login input[type="password"],
      .login input[type="text"] {
        background-color: var(--grass);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      
      .login input[type="password"]:focus,
      .login input[type="password"]:hover,
      .login input[type="text"]:focus,
      .login input[type="text"]:hover {
        background-color: var(--dried-grass);
      }
      
      .login input[type="submit"] {
        background-color: var(--brown);
        color: white;
        font-weight: 700;
        text-transform: uppercase;
      }
      
      .login input[type="submit"]:focus,
      .login input[type="submit"]:hover {
        background-color: var(--med-brown);
      }

      .form__field {
          
          display: flex;
          
        
        .form__input {
          flex: 1;
        }

        .hidden {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        
        input {
          background-image: none;
          border: 0;
          font: inherit;
          margin: 0;
          outline: 0;
          padding: 0;
          transition: background-color 0.3s;

          &::placeholder {
            color: var(--cream);
          }
        }
        
        input[type="submit"] {
          cursor: pointer;
        }
      }
        
    }

    .icons {
      display: none;
    }

    a {
      color: var(--mehendi);
      outline: 0;
      text-decoration: none;
    }
    
    a:focus,
    a:hover {
      color: var(--brown);
    }

    p {
      margin-block: 1.5rem;
    }
    
    .text--center {
      text-align: center;
    }
  }
  
  
  
  
  
  /* modules/form.css */
  
  :root {
    --formGap: 0.875rem;
  }
  